{{/* Header */}}

<div class="header">

    {{ if or (not (.Param "hideHeader")) .IsHome }}

    <h1 class="header-title">
        <a href="https://jackedandstacked.com">
            {{ site.Params.Description }}
        </a>
    </h1>

    <div class="flex">
        {{ $currentPage := . }}

        {{ with site.Params.menu }}
        {{ range . }}
      
        <p class="small {{ if eq .name (lower $currentPage.Name) }} bold {{end}}">
            <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab }}target="_blank" rel="noopener noreferrer"{{ end }}>
                {{.name }}
            </a>
        </p>
        {{ end }}
        {{ end }}
    </div>

    {{ end }}

    {{ if (.Param "showBackToHome") }}

    <button onclick="goBack()" class="back-button">← Back</button>

    <script>
    function goBack() {
        if (document.referrer) {
            window.history.back(); // Go to previous page if available
        } else {
            window.location.href = '/'; // Fallback: Go to home
        }
    }
    </script>
    

    {{ end }}

</div>
